* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
:root {
  --text-color: hsl(200, 15%, 8%);
  --shadow-color: hsl(0, 0%, 50%);
  --main-bg-color: hsl(0, 0%, 98%);
  --accent-color: hsl(0, 0%, 100%);
}
[data-theme="light"] {
  --text-color: hsl(0, 0%, 100%);
  --shadow-color: hsl(0, 0%, 50%);
  --main-bg-color: hsl(207, 26%, 17%);
  --accent-color: hsl(209, 23%, 22%);
}
img {
  max-width: 100%;
  display: block;
}
body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: "Nunito Sans", sans-serif;
  transition: background-color 250ms ease, color 250ms ease;
}
.search-container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}
header {
  background-color: var(--accent-color);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark-mode-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  border: 0;
}
main {
  padding: 3rem 0;
}
.countryName-input {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
.countryName-input .form {
  background-color: var(--accent-color);
  box-shadow: 0 0 5px var(--shadow-color);
  outline: 1px solid var(--main-bg-color);
  border-radius: 0.25rem;
}

.countryName-input .form i {
  padding: 0 1rem;
}
.countryName-input .form input,
.countryName-input .select-box select {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 0.75rem;
}

.countryName-input .form input {
  width: 400px;
  border: 0;
  outline: 0;
}
.countryName-input .select-box select {
  box-shadow: 0 0 5px var(--shadow-color);
  border: 0;
  outline: 1px solid var(--main-bg-color);
}

.countries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
}
.countries .box {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--text-color);
  box-shadow: 0 0 5px var(--shadow-color);
  border: 0;
  border-radius: 0.35rem;
  overflow: hidden;
}
.countries .box img {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}
.countries .box-item {
  padding: 1rem 1.5rem 2.5rem 1.5rem;
}
.countries .box-item h2 {
  margin-bottom: 1rem;
}
.countries .box-item p {
  margin-bottom: 0.5rem;
}

/* .box {
  background-color: var(--accent-color);
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  cursor: pointer;
} */

/* .box img {
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
} */

/* .box h2 {
  margin-bottom: 1rem;
}

.box p {
  margin-bottom: 0.5rem;
} */
.country-detail-container {
  display: none;
}

.country-detail-container.show {
  display: block;
}

.country-detail-container .back-btn {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 0.5rem 2rem;
  margin-bottom: 4rem;
  border: 0;
}

.country-detail-container .country-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.country-detail-container .country-info .country-flag img {
  width: 100%;
}
.country-detail-container .country-info .country-detail h1 {
  margin: 1.5rem 0 2rem 0;
}
.country-detail-container .country-info .country-detail ul {
  margin-bottom: 4rem;
  columns: 2;
}
.country-detail-container .country-info .country-detail ul li {
  margin-bottom: 0.5rem;
  columns: 2;
}

.country-detail-container
  .country-info
  .country-detail
  .border-countries
  strong {
  margin-right: 0.5rem;
}

.country-detail-container .country-info .country-detail .border-countries span {
  background-color: var(--accent-color);
  padding: 0.25rem 1.25rem;
}

@media (max-width: 1024px) {
  .search-container {
    width: 80%;
  }
  .countries {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  .countryName-input {
    margin-bottom: 2rem;
    flex-direction: column;
    gap: 2rem;
  }
  .countryName-input .form {
    display: flex;
    align-items: center;
  }
  .countryName-input .form input {
    width: 100%;
  }
  .country-detail-container .country-info {
    grid-template-columns: 1fr;
  }
  .country-detail-container .country-info .country-detail ul {
    columns: 1;
  }
  .country-detail-container
    .country-info
    .country-detail
    .border-countries
    strong {
    display: block;
    margin-bottom: 1rem;
  }
  .country-detail-container
    .country-info
    .country-detail
    .border-countries
    span {
    display: inline-block;
    margin: 0 0 0.5rem 0;
  }
  @media (max-width: 540px) {
    .search-container {
      width: 85%;
    }
    header {
      font-size: 0.75rem;
    }
    .dark-mode-btn {
      font-size: 0.9rem;
    }
    .countries {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
}
